
.hap{
    position: absolute;
    background-color: rebeccapurple;
    padding: 10px;
    width: 515px;
    height: 40px;
    font-size: 45px;
    top: 9px;
    border-radius: 5px;
    left: 500px;
    box-shadow: 0 0 9svb 0 red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#text{
    position: absolute;
    top: -45px;
    left: 100px;
    color: azure;
    text-shadow: 0px 0px 5px rgb(236, 100, 188);
}
.main{
    border-radius: 5px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
    position: absolute;
    padding: 15px;
    width: 500px;
    height: 550px;
    top: 70px;
    left: 500px;
    background-color: rebeccapurple;
    background-image: url(bd.png);
    background-position: -20px 0px;
}
.tex{
    font-size: 33px;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 3px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;   
    position: absolute;
    width: 500px;
    height: 550px;
    top: 630px;
    left: 500px;
    background-color: rebeccapurple;
    transition: all;
    transition-duration: 2000ms;
    animation: fadeIn 2.5s ease-in-out;

}
#oo,#ooo,#fin{
    color: white;
    text-shadow: 0px 0px 5px rgb(236, 100, 188);

}
#oo:hover,#ooo:hover,#fin:hover{
    color: springgreen;
    transition-duration: 2000ms;
    transform: rotatex(360deg);
}
#ooo{
    position: absolute;
    top: 190px;
    
}
#fin{
    position: absolute;
    top: 420px;
    left: 38px;
}
#imgm{
    position: absolute;
    width: 250px;
    height: 250px;
    top:225px;
    left: 130px;

}
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }